<div class="card flexer">
  <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [stroke]="chartOptions.stroke"
      [title]="chartOptions.title"
      [labels]="chartOptions.labels"
      [annotations]="chartOptions.annotations"
      [fill]="chartOptions.fill"
      [legend]="chartOptions.legend"
    ></apx-chart>
  </div>
  <div class="tool">
    All Days
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="12"
      height="12"
      viewBox="0 0 20 20"
    >
      <path
        fill="currentColor"
        d="M5.797 7a1 1 0 0 0-.778 1.628l3.814 4.723a1.5 1.5 0 0 0 2.334 0l3.815-4.723A1 1 0 0 0 14.204 7H5.797Z"
      />
    </svg>
  </div>
</div>
