<div class="card orders">
  <div class="card-title">Recent Orders</div>
  <div class="order-table">
    <table>
      <tr>
        <th>#</th>
        <th>Customer</th>
        <th>Products</th>
        <th>Delivery Date</th>
        <th>Status</th>
        <th>Tracking No.#</th>
        <th>Shipping</th>
        <th></th>
      </tr>
      <tr *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        <td>01</td>
        <td>Neeraja</td>
        <td>IPHONE</td>
        <td>13 Sept, 2017</td>
        <td>Paid</td>
        <td>#23438289</td>
        <td>Shipping</td>
        <td>x</td>
      </tr>
    </table>
  </div>
</div>
