<div class="card users">
  <div class="card-ttl">New User Registrations</div>
  <div class="user-list">
    <div class="user-item" *ngFor="let item of users;let i=index">
      <div class="avatar {{item.isActive?'active':''}}">
        <img [src]="'https://preview.keenthemes.com/html/metronic/docs/assets/media/avatars/300-'+(i+1)+'.jpg'">
      </div>
      <div class="profile">
        <div class="name">{{item.name}}</div>
        <div class="location">{{item.country}}</div>
      </div>
      <div class="percent">
        <div class="progress {{['primary','success','warning','secondary','danger'][i%5]}}">
          <div
            class="progress-bar"
            role="progressbar"
            [ngStyle]="{width: (item.progress||0)+'%'}"
            [attr.aria-valuenow]="item.progress"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>{{item.progress}}%
        </div>
      </div>
      <div class="actions">
        <button class="butn {{i==0?'':'butn-sec'}}">More</button>
      </div>
    </div>
  </div>
</div>
