/* Add application styles & imports to this file! */
@import 'node_modules/bootstrap/scss/bootstrap';
$primary: #506de2;
$body-bg: #f4f7fc;
$card-bg: #fff;
$body-color: #8d8e9c;
$body-color-rgb: #b8bec6;
$success: #30ce75;
$danger: #ea586b;
$warning: #fdc100;
$secondary: #7584a2;
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: $body-color-rgb;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.coloractive{
  background-color: $primary;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  background-color: $body-bg;
  color: $body-color;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: none;
  border-radius: 0.3rem;
}

.butn{
    display: inline-block;
    padding: 0.175rem;
    font-size: 0.65rem;
    font-weight: 400;
    line-height: 1;
    color: $card-bg;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid $primary;
    border-radius: 0.175rem;
    background-color: $primary;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &.butn-sec{
      color: $body-color;
      border-color: $body-color-rgb;
      background-color: $body-bg;
    }
}

.header {
  background-color: $card-bg;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1rem;
  padding-left: 56px;
  font-size: 0.6rem;
  box-shadow: -1px 7px 34px -20px rgba(0,0,0,0.5);
  -webkit-box-shadow: -1px 7px 34px -20px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px 7px 34px -20px rgba(0,0,0,0.5);
  svg {
    color: $body-color-rgb;
  }
  .lt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: $body-color-rgb;
  }
  .rt {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    div{
      cursor: pointer;
    }
    .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      img {
        width: 20px;
        height: 20px;
        border-radius: 4px;
      }
      .name {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .lang {
      display: flex;
    }
    .message {
      position: relative;
      &::after {
        content: '';
        width: 4px;
        height: 4px;
        background-color: rgb(62, 245, 62);
        position: absolute;
        border-radius: 30px;
        right: -5px;
      }
    }
    .notification {
      position: relative;
      &::after {
        content: '';
        width: 4px;
        height: 4px;
        background-color: rgb(253, 21, 21);
        position: absolute;
        border-radius: 30px;
        right: -2px;
      }
    }
  }
}

.sidebar {
  background-color: $card-bg;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  svg {
    color: $body-color-rgb;
  }
  div {
    padding: 0 1rem;
    cursor: pointer;
  }

  .burger {
    background-color: $primary;
    color: white;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active svg {
    color: $primary;
  }
}

.page-view {
  padding-left: 52px;
  padding-top: 52px;
}

.style-card {
  display: flex;
  flex-direction: row;
  padding: 10px;
  &.active {
    background-color: $primary;
    color: $card-bg !important;
    .card-percentage {
      color: $card-bg !important;
    }
    svg{
      color: $card-bg !important;
    }
  }
  .card-text {
    flex: 1;
    .card-percentage {
      font-size: 2rem;
      color: $primary;
    }
    .card-heading {
      font-size: 0.9rem;
      font-weight: 500;
    }
    .card-detail {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: 10px;
      color: $body-color-rgb;
    }
  }
  .card-logo {
    height: 40px;
    width: 40px;
    svg{
      color: $body-color-rgb;
    }
  }
}

.orders {
  padding: 20px;
  .card-title {
    font-size: 1.5rem;
  }
  .order-table {
    height: 300px;
    overflow-y: auto;
    table {
      border-collapse: collapse;
      width: 100%;
    }
    tr {
      border-top: 1px solid $body-bg;
      background: $card-bg;
      td,
      th {
        padding: 10px;
        &:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7){
          text-align: center;
        }
      }
      &:nth-child(1) {
        position: sticky;
        top: -1px;
      }
      th{
        color: $secondary;
        font-weight: 500;
      }
      td{
        color: $body-color;
      }
    }
    .status{
      display: inline-block;
      padding: 0.25rem 0.35rem;
      margin: 0.2rem;
      font-size: 0.7rem;
      font-weight: 500;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.25rem;
      background: $card-bg;
      color: $card-bg;
      border: solid 1px transparent;
      &.Paid{
        background: $success;
      }
      &.Pending{
        background: $secondary;
      }
      &.Failed{
        background: $danger;
      }
    }
  }
}

.users {
  padding: 20px;
  .card-title {
    font-size: 1.5rem;
  }
  .user-list {
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    .user-item {
      display: flex;
      flex: 1;
      padding: 10px;
      gap: 0.5rem;
      .percent {
        width: 100px;
        flex: 1;
        margin: auto;
        .progress {
          border-radius: 5px;
          background: rgb(185, 179, 179);
          height: 8px;
        }
      }
      .profile {
        .location {
          font-size: 12px;
        }
        .name {
          font-size: 15px;
          font-weight: 700;
        }
      }
      .avatar{
        position: relative;
        img{
          overflow: hidden;
          width: 40px;
          height: 40px;
          border-radius: 30px;
        }
        &::after{
          width: 10px;
          height: 10px;
          content: '';
          background-color: $primary;
          position: absolute;
          border-radius: 50%;
          border: 2px solid $card-bg;
          bottom: 3px;
          right: -1px;
        }
        &.active{
          &::after{
            background-color: $success;
          }
        }
      }
      .actions{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
